@charset "utf-8";

// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&amp;subset=cyrillic");

// minireset
@import "../../node_modules/minireset.css/minireset.sass";
// @import "~minireset.css/minireset.sass";

// main styles

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px;
  background-color: $color-green;
}
